body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    background: #EDE2DC;
}

.title {
    margin-top: 4rem;
    text-align: center;
    color: #3F56A1;
}

h2, span {
    font-style: italic;
    letter-spacing: .2rem;
    color: #F13C1E;  
}

.form-content {
    margin: auto;
    text-align: center;
}

.drink-label {
    display: block;
    margin: 1rem;
    text-align: center;
    position: relative;
}

.drink-input {
    outline: none;
    width: 2.5rem;
    border-radius: 5px;
}


.drink-input:focus {
    border-color: #C4CBE3;
    background: #FFFDF2;
}


#sex {
    width: 6rem;
}

.eat-drink {
    display: block;
    outline:none;
    margin: 1rem;

}

.submit-btn {
    color: black;
    font-size: 2rem;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #C4CBE3;
    width: 200px;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.result-paragraph {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    padding: 1.5rem;

}

img {
    display: block;
    margin: auto;
    width: 45%;
    padding-top: 0;
    padding-bottom: 6rem;
}

label {
    font-size: 1.2rem;  
}

input {
    font-size: .8rem;
}