body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    /* background: #F13C1E; */
    /* background: #FF7A66; */
    background: #FFABA0;
}

.title {
    margin-top: 4rem;
    text-align: center;
    color: #034585;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 2px black;
}

h2 {
    font-style: italic;
    letter-spacing: .2rem;
    color: #034585;  
}

span {
    font-size: 1rem;
}

.form-wrapper {
    border: groove #034585 1px;
    border-radius: 35px;
    width: 75%;
    display: block;
    margin: auto;
    background: #FFF;
    padding: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 10px 10px 20px #8f2e2e84;
}

.form-content {
    margin: auto;
    text-align: center;
}

select {
    font-size: 1rem;
    margin-left: 1rem;  
}

.sel-opt {
    font-size: .8rem;   
}

.drink-label {
    display: block;
    margin: 1rem;
    text-align: center;
    position: relative;
}

.drink-input {
    outline: none;
    width: 2.5rem;
    border-radius: 5px;
}


.drink-input:focus {
    border-color: #C4CBE3;
    /* background: #FFFDF2; */
    background: rgb(249, 171, 160, 0.4);
    transition: all 0.5s
}


#sex {
    width: 6rem;
}

.eat-drink {
    display: block;
    outline:none;
    margin: 1rem;

}

.submit-btn {
    color: black;
    font-size: 1.8rem;
    border: outset 2px;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    background: #C4CBE3;
    width: 220px;
    margin-top: 1rem;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

.submit-btn:hover {
    border: inset 1px;
}

.result-paragraph {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    padding: 1.5rem;

}

img {
    display: block;
    margin: auto;
    width: 45%;
    padding-top: 0;
    padding-bottom: 6rem;
}

label {
    font-size: 1.2rem;  
}

input {
    font-size: 1rem;
}